/* You can add global styles to this file, and also import other style files */

$light: #F0F0FF;
$dark: #222832;
$blue: #3175ff;

//$white: $light;

@import "~bootstrap/scss/bootstrap";
@import "~typeface-spartan/index.css";

p {
  text-align: justify;
}
