<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white sticky-top">
  <a class="navbar-brand" routerLink="home">Angular Routing</a>
  <button class="navbar-toggler" type="button"  data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="services" routerLinkActive="active">Services</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container bg-white p-4 shadow-lg rounded my-4">
  <router-outlet></router-outlet>
</div>
<p class="text-center">© Copyright 2020-2025</p>
