<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID:</th>
      <th scope="col">Name:</th>
      <th scope="col">Update (s):</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let metaDataSource of _metaDataSources | async; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{metaDataSource.id}}</td>
      <td>{{metaDataSource.name}}</td>
      <td>{{metaDataSource.uptime}}</td>
    </tr>
  </tbody>
</table>
