<div class="row">
  <div class="col">
    <h1 i18n="site header|Welcome message@@welcome-message">Welcome!</h1>
  </div>
</div>
<div class="row bg-primary my-2 text-white">
  <div class="col-8 d-flex flex-column justify-content-center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec bibendum odio. Sed turpis augue, sollicitudin nec
      magna ac, finibus ultricies ligula. Donec a dapibus mi, suscipit suscipit ante. Nullam quis vehicula neque. Morbi
      tristique justo ut diam posuere, et maximus velit consequat. Aenean tincidunt eu sem quis dapibus. Sed non
      consequat
      purus. In turpis tellus, mattis et arcu vel, dapibus eleifend lacus. Phasellus ornare erat nec nibh egestas, vitae
      gravida est hendrerit. Sed in nulla tempus mauris dictum laoreet. Morbi bibendum sit amet quam vitae maximus.
    </p>
  </div>
  <div class="col-4">
    <img src="assets/app-screen.jpg" class="w-100 m-2 img-thumbnail rounded" />
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Vestibulum fermentum luctus metus. Proin sapien felis, malesuada a elementum id, volutpat sit amet lectus. Nullam
      vehicula, lacus eget rutrum feugiat, eros nulla finibus magna, eget lacinia nulla dui ut tortor. Phasellus maximus
      dui
      sit amet aliquet fermentum. Fusce scelerisque, metus ut facilisis facilisis, massa purus rhoncus turpis, vitae
      vehicula eros arcu nec arcu. Nam ac nisi et orci congue congue. Nam tincidunt nisl sit amet dolor faucibus
      efficitur.
      Nulla ligula nulla, posuere quis dolor eget, laoreet viverra quam. Nunc lacinia ante leo, at euismod augue
      ultrices
      ac. Pellentesque iaculis sem vitae velit volutpat auctor. Integer pulvinar pretium rhoncus. Donec venenatis lorem
      ac
      pulvinar auctor. Nulla sollicitudin, sapien quis eleifend viverra, lacus augue bibendum mi, a viverra sapien
      mauris ac
      neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum lacus eu semper molestie. Aliquam
      lobortis varius sem in feugiat.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Sed urna nisl, aliquet in purus quis, ornare lacinia justo. Suspendisse eget ullamcorper lorem. Duis ultricies
      turpis
      nec metus elementum rutrum. Nulla fermentum ligula non risus varius ultrices. Pellentesque ornare metus lorem, in
      pellentesque velit mollis vitae. Donec tempus fringilla augue, et aliquet erat placerat at. Praesent et turpis
      efficitur, mattis quam non, lacinia orci. Donec cursus orci velit, id posuere nisl eleifend ac. Aliquam erat
      volutpat.
      Nulla eu massa sit amet lorem malesuada placerat. Cras luctus vehicula auctor. Integer a sollicitudin nisl.
      Aliquam
      erat volutpat. Sed eu arcu magna. Nunc bibendum ex ut enim ornare, eget iaculis metus varius.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Cras lobortis commodo luctus. Donec at nisl quis dolor commodo convallis mollis ut orci. Integer suscipit eros
      quis
      orci egestas, et volutpat est accumsan. Etiam euismod mauris diam, vel molestie erat ornare nec. Phasellus ac
      vehicula
      lectus. Pellentesque blandit elit turpis, eget vestibulum elit varius quis. Duis turpis dolor, vehicula ac felis
      a,
      finibus mollis sapien. Aliquam nibh sapien, tempor in turpis at, blandit pulvinar velit.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Donec vitae luctus diam. Vestibulum vehicula convallis tellus vitae rutrum. Lorem ipsum dolor sit amet,
      consectetur
      adipiscing elit. Pellentesque congue scelerisque eros a pellentesque. Proin leo turpis, luctus hendrerit blandit
      nec,
      suscipit ut quam. Cras sollicitudin mattis nulla, eu tempus massa commodo sit amet. Aliquam eleifend congue mi ut
      posuere.
    </p>
  </div>
</div>
